.home {
    position: relative;
    background: url('./images/bg.png') no-repeat;
    width:100%;
    height:100vh;
    background-size:100% 100%;
}
.img1 {
    position: absolute;
    top: 25px;
    right: 20px;
    width: 40px;
}
.img2 {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    margin: auto;
    width: 60%;
}
.img3 {
    position: absolute;
    top: 25px;
    left: 20px;
    width: 120px;
}
.img4 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 10;
    width: 30%;
}
.img5 {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 10;
    width: 30%;
}
.img6 {
    position: absolute;
    bottom: 0px;
    width: 100%;
    z-index: 9;
}
.img7 {
    position: absolute;
    bottom: 0px;
    width: 100%;
    z-index: 8;
}
.img8 {
    position: absolute;
    right: 0;
    bottom: 10%;
    width: 90px;
    z-index: 3;
}
.img9 {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 1%;
    height: 80%;
    z-index: 2;
}
.img10 {
    position: absolute;
    left: 0px;
    bottom: 15%;
    width: 80px;
    z-index: 1;
}
.img11 {
    position: absolute;
    bottom: 0px;
    width: 100%;
}
@media screen and (min-width: 375px) {
    .img8 {
        width: 115px;
    }
    .img10 {
        width: 105px;
    }
}
@media screen and (min-width: 414px) {
    .img8 {
        width: 130px;
    }
    .img10 {
        width: 120px;
    }
}
@media screen and (min-width: 700px) {
    .img8 {
        width: 300px;
    }
    .img10 {
        width: 250px;
    }
    .img4 {
        bottom: 30px;
    }
    .img5 {
        bottom: 30px;
    }
}